
/* --------------Reset--------------------------- */
	html, body, div, span, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	abbr, address, cite, code,
	del, dfn, em, img, ins, kbd, q, samp,
	small, strong, sub, sup, var,
	b, i,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section, summary,
	time, mark, audio, video {
	    margin: 0;
	    padding: 0; 
	    border: 0;
	    outline: 0;
	    font-size: 100%;
	    vertical-align: baseline;
	    background: transparent;
	}

	article,aside,details,figcaption,figure,
	footer,header,hgroup,menu,nav,section { display: block; }

	*,
	*:after,
	*:before {
		margin: 0;
		padding: 0;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
	}

	nav ul,
	nav ol {
	    list-style: none;
	    list-style-image: none;
	}

	ul { list-style: none outside;    }
	ol { list-style-position: inside; }

	a {
	    margin: 0;
	    padding: 0;
	    font-size: 100%;
		outline: none;
		text-decoration: none;
	    background: transparent;
		vertical-align: baseline;
	}

	a, a > * {
		text-decoration: none;
		color: #fff;
	}

	a:hover {
		color: #00c2a9;
	}

	.not-ie a {
		-webkit-transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
				transition: background-color .2s ease, border .2s ease, color .2s ease, opacity .2s ease-in-out;
	}

	img {
	    border: 0;
		height: auto;
		max-width: 100%;
		-ms-interpolation-mode: bicubic;
	}
/* --------------body---------------------------- */
	body {
		width: 100%;
		min-height: 568px;
		background: transparent;
		/*background-repeat: no-repeat;
		background-position: center bottom;
		background-color: #fff;*/
		color: #777;
		font-weight: 300;
		font-size: 15px;
		font-family: 'Roboto', sans-serif;
		line-height: 1.75em;
	}
	.divbig{
		position:relative;
        left:50%;
        margin:0 0 0 -680px;
		width:100%;
		height:auto;
    }
	.box{
		position: absolute;
	}
	p {
		margin: 0 0 1.5em;
		padding: 0;
		line-height: 1.75em;
	}

	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 15px;
		color: #5b5e60;
		font-family: 'Roboto', sans-serif;
		line-height: 1.3em;
		font-weight: normal;
	}

	h1 { font-size: 30px; }
	h2 { font-size: 24px; }
	h3 { font-size: 20px; }
	h4 { font-size: 18px; }
	h5 { font-size: 16px; }
	h6 { font-size: 14px; }
/* --------------header-------------------------- */
	#header {
		position: relative;
		top: 0;
		z-index: 99;
		width: 1360px;
		background-color: #72D5C8;
		line-height: 0;
		height: 60px;
	}
	.header-in {
		margin-left: 15px;
		width: 95%;
		text-align: justify;
	}
	.header-in:after {
		display: inline-block;
		width: 100%;
		vertical-align: top;
		content: "";
	}

	#logo,
	#navigation {
		display: inline-block;
		vertical-align: middle;
	}
	#logo {
		margin-bottom: 0;
		font-family: 'Julius Sans One', sans-serif;
		padding-left: 5px;
	}
	#logo_img {
		float: left;
		padding-top: 6px;
	}
	#header .login {
		cursor:pointer;
	}
/* --------------Main Navigation----------------- */
	.navigation > ul > li {
		position: relative; 
		display: block;
		float: left;
		width: 120px;
	}
	.navigation > ul > li > a,
	.navigation > ul > li > div {
		text-align: center;
		display: block;
		margin: 0;
		padding: 20px 0px 25px;
		color: #73807F;
		font-size: 14px;
		line-height: 1em;
	}
	.navigation a,
	.navigation div { 
		font-weight: 300;
		font-family: 'Roboto', sans-serif;
	}
	.navigation > ul > li:hover > a,
	.navigation > ul > li:hover > div,
	.navigation > ul > .current-menu-item > a,
	.navigation > ul > .current_page_item > a,
	.navigation > ul > .current-menu-item > div,
	.navigation > ul > .current_page_item > div { 
		background-color: rgba(60, 104, 98, 0.22);
		color: #fff;
		text-decoration: none;
	}

	
	#nav li ul {line-height: 27px;  list-style-type: none;text-align:left;left: -999em; width: 180px; position: absolute;}
	#nav li ul li{float: left; background:rgba(0,0,0, .2);}

	#nav li ul a{display: block; width: 120px;text-align:center; padding-top: 15px; padding-bottom: 13px; overflow:hidden;}

	#nav li ul a:link  {color:#666; text-decoration:none;}
	#nav li ul a:visited  {color:#666;text-decoration:none;}
	#nav li ul a:hover  {color:#F3F3F3;text-decoration:none;font-weight:normal;background:#51726D;}

	#nav li:hover ul {left: auto;}
	#nav li.sfhover ul {left: auto;}

	#nav #SPAN_USER_ID{height: 60px;}
/* --------------LeftSide-------------------------- */
	#leftside{
		position: absolute;
		top: 0;
		text-align: center;
	    width: 110px;
	    height: 600px;
	    background: #fff;
	    border-bottom: 1px solid #72D5C8;
	    border-left: 1px solid #72D5C8;
	}
	#leftside div{
		margin: 2px 0 8px;
		/*padding: 5px 10px 2px 10px;
		border-right: 2px solid #289C8D;
		border-left: 2px solid #289C8D;
		border-top: 2px solid #289C8D;*/
	}
	#leftside h4{
		margin: 5px 18px 2px;
		font-family:"寰蒋闆呴粦";
		font-size: 15px;
		color: #289C8D;
		padding: 5px 0px 5px;
		border-bottom: 1px solid #289C8D;
	}
	#leftside ul li a{color:#00c2a9;}
	#leftside ul li a:hover {color: #808b8d;}

	/* --------------Side Navigation----------------- */
		.navigation_side > ul > li > a {
			display: block;
			margin: 0;
			padding: 20px 10px;
			font-size: 14px;
		}
		.navigation_side > ul > li:hover > a,
		.navigation_side > ul > li:hover > div,
		.navigation_side > ul > .current-menu-item > a,
		.navigation_side > ul > .current_page_item > a,
		.navigation_side > ul > .current-menu-item > div,
		.navigation_side > ul > .current_page_item > div { 
			border-left: 7px solid #72D5C8;
			background-color: rgba(144, 228, 216, 0.21);
			text-decoration: none;
		}
/* --------------Search-------------------------- */
	#search{
		width:500px;
	    width: 800px;
	    padding-left: 60px;
		/*padding-left:20%;
		padding-right:20%;*/
	}
	#searchform { 
		position: absolute;
	    padding-left: 180px;
	    top: 8px;
	}
	#searchform input[type="text"] { 
		padding-right: 60px;			/*杈撳叆妗嗘帶鍒�*/
		/*font-style: italic;*/
		font-size: 15px;
	}
	#searchform .submit-search {
		position: absolute;
		top: 0;
		left: 573px;					/*鎼滅储鎸夐挳浣嶇疆*/
		padding: 0;
		width: 55px;
		height: 68%;
		border-left: 1px solid rgba(156, 156, 156, 1);
		text-align: center;
	}
	#searchform input[type="text"]:focus + .submit-search {
		border-left-color: #00c2a9;
	}
	/* -------------------------------------------------- */
	/*	Forms
	/* -------------------------------------------------- */
	#searchform button,input {
		margin: 0;
		border: none;
		vertical-align: baseline;
		font-size: 100%;
	}
	#searchform button {
		display: inline-block;
		padding: 6px 13px;
		outline: none;
		background-color: transparent;
		color: #289C8D;
		vertical-align: baseline;
		text-align: center;
		text-decoration: none;
		font: 11px/1.5 Arial;
		cursor: pointer;
	}
	#searchform input[type="text"]
	{
		/*font-style: italic;*/
		font-size: 15px;
		width:450px;
		height:40px;
		display: inline-block;
		padding: 16px 10px;
		padding-right: 62px;			/*杈撳叆妗嗘帶鍒�*/
		outline: none;
		border-width: 1px;
		border-style: solid;
		border-color: #dcdcdc;
		border-color: rgba(156, 156, 156, 1);
		background-color: rgba(255, 255, 255, 0.37);
		color: #289C8D;
		font-family: 'Roboto', sans-serif;
		
		-webkit-border-radius: 6px;
				border-radius: 6px;
		-webkit-box-shadow: none;
				box-shadow: none;
		-webkit-appearance: none;
				appearance: none;


	}
	#searchform input[type="text"]:focus,input[type="password"]:focus {
		border-color: #00c2a9; 
	}
/* --------------FileGrid-------------------------- */
    #fileGrid{
    	position: absolute;
    	top: 0;
        width: 100%;
        height: 100%;
        padding: 0px 110px;
    }
    #searchSide{
    	position: absolute;
    	top: 0px;
    	width: 650px;
    	height: 600px;
    	margin-left: 710px;
    	border-bottom: 1px solid #72D5C8;
	    border-right: 1px solid #72D5C8;
    }
     .abstract {
	background: rgba(200, 67, 215, 0.2);
	padding: 10px 10px;
	-webkit-border-radius: 6px;
		border-radius: 6px;
	}
	 #searchSide p{color: rgb(139, 123, 123);}
	 #searchSide h3{font-weight: 800;}
	 #searchSide h4{font-weight: 800;}


	.box .jumbotron{
		margin:100px 0 0 400px;
		padding: 20px 20px 0;
		width: 600px;
		height: 255px;
		background: rgba(110, 210, 196, 0.5);
		text-align: center;
		-webkit-border-radius: 12px;
				border-radius: 12px;
	}
	.box .jumbotron input{
		margin-left: 120px;
		width: 300px;
	}
	.box h1{font-size: 35px;}