<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_9" version="2.4">
  <display-name>Struts Blank</display-name>
  <filter>
    <display-name>JspResourceProtect</display-name>
    <filter-name>JspResourceProtect</filter-name>
    <filter-class>shu.mike.struts2.JspResourceProtect</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>JspResourceProtect</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterService</display-name>
    <servlet-name>RegisterService</servlet-name>
    <servlet-class>shu.mike.servlet.RegisterService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterService</servlet-name>
    <url-pattern>/RegisterService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountcService</display-name>
    <servlet-name>AccountcService</servlet-name>
    <servlet-class>shu.mike.servlet.AccountcService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountcService</servlet-name>
    <url-pattern>/AccountcService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SharedFileManage</display-name>
    <servlet-name>SharedFileManage</servlet-name>
    <servlet-class>shu.mike.servlet.SharedFileManage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SharedFileManage</servlet-name>
    <url-pattern>/SharedFileManage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataAnalysis</display-name>
    <servlet-name>DataAnalysis</servlet-name>
    <servlet-class>shu.mike.servlet.DataAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataAnalysis</servlet-name>
    <url-pattern>/DataAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogAnalysis</display-name>
    <servlet-name>LogAnalysis</servlet-name>
    <servlet-class>shu.mike.servlet.LogAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogAnalysis</servlet-name>
    <url-pattern>/LogAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InitIKAnalyzer</display-name>
    <servlet-name>InitIKAnalyzer</servlet-name>
    <servlet-class>shu.mike.ikanalyzer.InitIKAnalyzer</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitIKAnalyzer</servlet-name>
    <url-pattern>/InitIKAnalyzer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OntoVisualization</display-name>
    <servlet-name>OntoVisualization</servlet-name>
    <servlet-class>shu.mike.analysis.OntoVisualization</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OntoVisualization</servlet-name>
    <url-pattern>/OntoVisualization</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OntoManager</display-name>
    <servlet-name>OntoManager</servlet-name>
    <servlet-class>shu.mike.analysis.OntoManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OntoManager</servlet-name>
    <url-pattern>/OntoManager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NetDataAnalysis</display-name>
    <servlet-name>NetDataAnalysis</servlet-name>
    <servlet-class>shu.mike.servlet.NetDataAnalysis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NetDataAnalysis</servlet-name>
    <url-pattern>/NetDataAnalysis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDirectoryFiles</display-name>
    <servlet-name>ListDirectoryFiles</servlet-name>
    <servlet-class>shu.mike.servlet.ListDirectoryFiles</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDirectoryFiles</servlet-name>
    <url-pattern>/ListDirectoryFiles</url-pattern>
  </servlet-mapping>
</web-app>